.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
  border: 2px solid transparent;
  border-radius: 0;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

md-button.btn-gray-outlined.btn-outline[disabled] {
  border-color: $dark-gray-blue;
  color: $dark-gray-blue !important;
}

.btn-gray-outlined.btn-outline {
  border-color: $light-blue-accent;
  color: $gray-lighter;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-no-outline[role="button"] {
  outline: none;
}

.medium-icon-button {
  font-size: 1.3em;
}

.btn-clicker-options {
  margin: -8px -16px;
  span {
    height: 15vh;
    outline: none;
    font-size: 1.2em;
    color: $light-gray;
    text-transform: none;
    font-weight: 400;

    &.middle, &.left {
      border-radius: 0;
      border-right: 1px solid rgba($light-gray, 0.96);
    }

    &:hover {
      background-color: rgba($warn-hue-1, 0.32);
      color: #fff;
      transition: 0.3s;
    }

    &.selected {
      background-color: rgba($light-gray, 0.32);
      color: #fff;
      transition: 0.3s;
    }
  }
}

