<md-dialog>
  <md-dialog-content layout-padding="10">
    <h3 class="md-title">Mustaske is an application to facilitate asking questions in a group forum.</h3>
    <h4>Professor/Creator</h4>
    <md-content layout="column">
      <ol>
        <li>If you are a professor/creator simply put in a room name and tap create.</li>
        <li>Once in the room give your students or audience members the room id located on the top right or in the
          settings menu.
        </li>
      </ol>
      <h4>Student/Audience</h4>
      <ol>
        <li>If you are a student or audience member please ask your professor or room owner to give you the room id.
        </li>
        <li>The room id should come in the form adjective-noun-number for example: smelly-pussycat-69'</li>
      </ol>
    </md-content>

  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()" class="md-primary">
      Ok, Got it!
    </md-button>
  </md-dialog-actions>
</md-dialog>
