<div class="login-overlay container-fluid" layout="column">
  <div class="text-center vcenter" layout="row" layout-align="center center">
    <div>
      <div class="m-b-50">
        <img src="images/mustache-1.png" class="img-responsive" layout="60" alt="">
        <h1 class="md-display-1">Welcome to MustAske!</h1>
        <h4 class="md-title m-b-30">a tool to facilitate questions</h4>
        <div class="m-b-30"></div>
        <p class="text-gray-lighter">Please enter the name of a room you want to join or create</p>
      </div>

      <form id="login-info">
        <md-input-container class="login-input-container m-b-0 p-b-0" md-autofocus>
          <label>Room Name...</label>
          <input type="text" ng-model="color">
        </md-input-container>
        <div class="m-t-0">
          <md-button class="btn-outline btn-primary btn-gray-outlined">Join</md-button>
          <md-button class="btn-outline btn-primary btn-gray-outlined">Make</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
