<div class="login-overlay container-fluid">
  <div class="text-center vcenter">
    <div>
      <h2>Welcome to MustAske!</h2>

      <p>Please enter the name of a room you want to join or create</p>

      <form id="login-info">
        <div class="row form-group">
          <div id="room-name-field"
               class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-10 col-xs-offset-1 has-feedback">
            <md-input-container>
              <label>Color</label>
              <input type="text" ng-model="color" required>
            </md-input-container>
            <!--<input type="room-name" class="form-control"-->
                   <!--placeholder="Room Name...">-->
                        <!--<span class="glyphicon glyphicon-remove form-control-feedback"-->
                              <!--aria-hidden="true"></span>-->
          </div>
        </div>
        <div class="row form-group">
          <div id="join-create-room" aria-label="Join/Create Room">
            <a id="join-room" class="btn btn-success disabled"> Join
            </a>
            <a id="make-room" class="btn btn-warning disabled"> Make
            </a>
          </div>
        </div>
        <div>
            <span class="make-join-warning">
                Please select either <em>Make</em> or <em>Join</em>.
            </span>
        </div>
      </form>
    </div>
  </div>
</div>
