<div class="login-overlay container-fluid" layout="column">
  <div class="text-center vcenter" layout="row" layout-align="center center">
    <div>
      <h1>Welcome to MustAske!</h1>
      <h4>a tool to facilitate questions</h4>
      <p class="text-light-gray">Please enter the name of a room you want to join or create</p>

      <form id="login-info">
        <div class="form-group">
          <!--<div id="room-name-field">-->
            <md-input-container class="login-input-container" md-autofocus>
              <label>Color</label>
              <input type="text" ng-model="color" required>
            </md-input-container>
            <!--<input type="room-name" class="form-control"-->
                   <!--placeholder="Room Name...">-->
                        <!--<span class="glyphicon glyphicon-remove form-control-feedback"-->
                              <!--aria-hidden="true"></span>-->
          <!--</div>-->
        </div>
        <div class="row form-group">
          <md-button class="btn-outline btn-primary btn btn-gray-outlined">Join</md-button>
          <md-button class="btn-outline btn-primary btn btn-gray-outlined">Make</md-button>
          <!--<div id="join-create-room" aria-label="Join/Create Room">-->
            <!--<a id="join-room" class="btn btn-success disabled"> Join-->
            <!--</a>-->
            <!--<a id="make-room" class="btn btn-warning disabled"> Make-->
            <!--</a>-->
          <!--</div>-->
        </div>
        <div>
            <span class="make-join-warning">
                Please select either <em>Make</em> or <em>Join</em>.
            </span>
        </div>
      </form>
    </div>
  </div>
</div>
