<div layout="row" layout-padding="5">
  <div flex="50"><span class="content-page-title">Settings View</span></div>
</div>

<md-content layout-padding="5">
  <div layout="row" layout-wrap>
    <!-- <div layout="column"> -->
      <div flex="auto">
        <p>Room ID</p>
      </div>
      <div flex="auto" layout="column" layout-align="none end">
        <p>ROOM-NAME-90</p>
      </div>
      <div class="small hint text-gray-accent" flex="100">
        <p>*Share this Room ID for others to join your room</p>
      </div>
    <!-- </div> -->
  </div>

  <div layout="row">
    <div layout="column">
      <md-icon md-font-icon="fa fa-sign-out">
        Delete Room</md-icon>
    </div>
  </div>
</md-content>
